.row {
  display: block;
  margin-bottom: $gutter-vertical;

  [class^="col-"]:not(:last-child){
    margin-right: $gutter-horizontal;
  }
}

.col-1-of-2 {
  display: inline-block;
  width: $grid-width/2 - $gutter-horizontal;
  text-align: center;
}

.col-1-of-4 {
  display: inline-block;
  width: $grid-width/4 - $gutter-horizontal;
  text-align: center;
}

.col-1-of-3 {
  display: inline-block;
  width: $grid-width/3 - $gutter-horizontal;
  text-align: center;
}
