$color-primary: hsl(202, 49%, 55%);
$color-primary-light: hsl(212, 55%, 64%);
$color-primary-dark: hsl(226, 64%, 43%);

$color-white: #fff;
$color-grey: #777;
$color-black: #000;

$grid-width: 114rem;
$gutter-vertical: 7rem;
$gutter-horizontal: 6rem;