



.btn {
  &,
  &:link,
  &:visited {
    display: inline-block;
    padding: 1.5rem 3rem;
    text-decoration: none;
    transition: all 0.2s;
    position: relative;
    text-transform: uppercase;

    // Button Formatting
    border: none;
    cursor: pointer;
  }
  &:hover {
    transform: translateY(-1rem);
    box-shadow: 0 0.5rem 1.2rem rgba($color-black, 0.253);
    transition: all 0.2s;
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-0.7rem);
    background-color: rgba(227, 236, 255, 0.65);
    box-shadow: 0 0.2rem 0.6rem rgba($color-black, 0.253);
    transition: all 0.2s;
  }

  &::after {
    content: "";
    position: absolute;
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &-white {
    color: $color-grey;
    display: inline-block;
    background-color: $color-white;
    border-radius: 10rem;
  }

  &-white::after {
    background-color: $color-white;
    transition: all 0.3s;
  }

  &-booknow {
    display: inline-block;
    padding: 1.5rem 3rem;
    border-radius: 10rem;
    &:active {
      background-color: $color-white;
    }
  }

  &-booknow::after {
    transition: all 0.3s;
  }
  &-blue {
    display: inline-block;
    border-radius: 10rem;
    background-color: rgba($color-primary, 1);
    color: $color-white;
  }

  &-blue::after {
    background-color: $color-primary;
    transition: all 0.3s;
  }

  &-blue:active {
    background-color: $color-primary-light;
    transition: all 0.3s;
  }

  &:hover::after {
    transform: translateY(-1rem);
    opacity: 0;
    transform: scale(1.3);
    transition: all 0.3s;
  }

  &-animated {
    animation: btnMoveIn 1s ease 1s;
    animation-fill-mode: backwards;
  }
}

.little-button {
  display: inline-block;
  padding: 1rem 0.6rem;
  text-decoration: none;
  color: $color-primary;
  background-color: rgba($color-primary, 0);
  transition: all 0.2s;
  border-bottom: 2px solid $color-primary;

  &:hover {
    background-color: rgba($color-primary, 1);
    color: $color-white;
    box-shadow: 0px 4px 10px rgba($color: #000000, $alpha: 0.25);
    transform: translateY(-0.5rem);
  }
}
