.form {
  height: 100%;
  width: 60%;
  background-color: rgba($color-white, $alpha: 0.8);
  clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
  padding: 6rem;

  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__input {
    font-size: 1.5rem;
    padding-left: 2rem;
    display: block;
    height: 6rem;
    width: 60%;
    border: none;
    border-radius: $border;
    border-bottom: 4px solid transparent;
    transition: all 0.2s ease-in-out;

    &::placeholder {
      color: $color-grey;
    }

    &:focus:invalid {
      border-bottom: 4px solid $color-secondary-dark;
    }

    &:focus {
      outline: none;
      border-bottom: 4px solid $color-primary-dark;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
      transition: all 0.2s ease-in-out;
    }
  }

  &__label {
    display: inline-block;
    font-size: 1.4rem;
    font-family: inherit;
    padding-left: 2rem;
    color: $color-grey-dark;
    opacity: 1;
    transform: translateY(0rem);
    transition: all 0.4s;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    display: inline-block;
    transform: translateY(-3rem);
  }

  &__radio-group {
    margin-bottom: 2rem;
  }
  &__radio-dot {
    display: none;
  }
  &__radio-label {
    font-size: 1.2rem;
  }
  &__radio-button {
    content: "";
    display: block;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $color-primary;
    opacity: 0;
    transition: opacity 0.2s;
  }
}
